:root {
  --titulo: 'Slabo 27px', serif;
  --blanco: #fff;
  --secundario: #00838f;
}
 


h1, h2, h3, h4  {
  font-family: var(--titulo);
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color:var(--blanco);
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
  color:var(--secundario);
  
}

body {
  font-family: var(--titulo);
  height: 100vh;
}


li {
  margin-bottom:10px ;
  list-style-type: none;
}

span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}

